@import url('../css/fonts.css');
@import url('../css/reset.css');

#wrap {
    width: 100%;
    position: relative;
    #hdr-top {
        width: 100%;
        .container {
            width: 100%;
            max-width: 1050px;
            margin: 0 auto;
            .top {
                width: 100%;
                .nav-bar {
                    width: 100%;
                    height: 37px;
                    display: flex;
                    justify-content: right;
                    .nav {
                        width: 100%;
                        max-width: 181.17px;
                        display: flex;
                        justify-content: space-around;
                        align-items: center;
                        li {
                            width: 100%;
                            font-size: 12px;
                            text-align: center;
                            cursor: pointer;
                            i {
                                width: 100%;
                                img {
                                    width: 8px;
                                }
                            }
                            &:nth-child(1){
                                color: rgb(95, 0, 128);
                                font-weight: 600;
                            }
                        }
                    }
                }
                .main-hdr {
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    .kurly {
                        width: 100%;
                        max-width: 214.5px;
                        display: flex;
                        justify-content: space-between;
                        li {
                            width: 100%;
                            max-width: 66.25px;
                            line-height: 63px;
                            font-size: 17px;
                            font-weight: 700;
                            color: rgb(95, 0, 128);
                            text-align: right;
                            img {
                                width: 100%;
                            }
                            &:nth-child(1) {
                                max-width: 82px;
                            }
                            &:nth-child(3) {
                                color: #666;
                            }
                        }
                    }
                    .search {
                        width: 100%;
                        max-width: 398px;
                        height: 48px;
                        border: 1px solid rgb(95, 0, 128);
                        border-radius: 10px;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        #gnb-search {
                            width: 100%;
                            border: 0;
                            outline: none;
                            padding-left: 14px;
                        }
                        .click {
                            width: 30px;
                            height: 30px;
                            border:  0;
                            background: transparent;
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .icons {
                        width: 100%;
                        max-width: 148px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
            .bottom {
                width: 100%;
                height: 56px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: sticky;
                .cat {
                    width: 100%;
                    max-width: 87.69px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        width: 16px;
                    }
                    h2 {
                        font-size: 16px;
                    }
                }
                .menu {
                    width: 100%;
                    max-width: 600px;
                    .list {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        li {
                            width: 100%;
                            max-width: 150px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 55px;
                        }
                    }
                }
                .dlvry {
                    width: 100%;
                    max-width: 142.41px;
                    height: 32px;
                    border: 0.1px solid #eee;
                    border-radius: 20px;
                    background: transparent;
                    color: #777;
                    font-weight: 700;
                    span {
                        color: rgb(95, 0, 128);
                        font-weight: 700;
                    }
                }
            }
        }
    }
    #hdr-btm {
        width: 100%;
        box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 4px 0px;
        position: sticky;
        top: 0;
        background: #fff;
        z-index: 3;
        .container {
            width: 100%;
            max-width: 1050px;
            margin: 0 auto;
            .bottom {
                width: 100%;
                height: 56px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                .cat {
                    width: 100%;
                    max-width: 87.69px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    img {
                        width: 16px;
                    }
                    h2 {
                        font-size: 16px;
                    }
                }
                .menu {
                    width: 100%;
                    max-width: 600px;
                    .list {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        li {
                            width: 100%;
                            max-width: 150px;
                            text-align: center;
                            font-size: 16px;
                            font-weight: 700;
                            line-height: 55px;
                        }
                    }
                }
                .dlvry {
                    width: 100%;
                    max-width: 142.41px;
                    height: 32px;
                    border: 0.1px solid #eee;
                    border-radius: 20px;
                    background: transparent;
                    color: #777;
                    font-weight: 700;
                    span {
                        color: rgb(95, 0, 128);
                        font-weight: 700;
                    }
                }
            }
        }
    }
    @media all and (max-width: 780px) {
        #hdr-top {
            .container {
                .top {
                    .nav-bar {
                        display: none;
                    }
                    .main-hdr {
                        .kurly {
                            margin-left: 10px;
                            li {
                                
                                &:nth-child(2) {
                                    display: none;
                                }
                                &:nth-child(3) {
                                    display: none;
                                }
                            }
                        }
                        .search {
                            border: 0;
                            justify-content: end;
                            #gnb-search {
                                display: none;
                            }
                            .click {
                                width: 60px;
                                height: 60px;
                            }
                        }
                        .icons {
                            display: none;
                        }
                    }
                }
            }
        }
        #hdr-btm {
            .container {
                .bottom {
                    justify-content: center;
                    .cat {
                        display: none;
                    }
                    .dlvry {
                        display: none;
                    }
                }
            }
        }
    }
    #main {
        width: 100%;
        #section1 {
            width: 100%;
            padding-bottom: 40px;
            .slide-container {
                width: 100%;
                max-width: 1900px;
                margin: 0 auto;
                user-select: none;
                .slide-view {
                    width: 100%;
                    overflow: hidden;
                    position: relative;
                    .slide-wrap {
                        width: 100%;
                        pointer-events: none;
                        .slide {
                            width: 100%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            overflow: hidden;
                            z-index: 1;
                            opacity: 1;
                            &.slide1 {
                                z-index: 3;
                                position: relative;
                                opacity: 1;
                            }
                            &.slide2 {
                                z-index: 2;
                            }
                            &.slide3 {
                                z-index: 1;
                            }
                            img {
                                width: 100%;
                            }
                        }
                    }
                    .next-btn {
                        width: 100%;
                        max-width: 52px;
                        height: 100%;
                        max-height: 52px;
                        position: absolute;
                        z-index: 4;
                        top: 50%;
                        right: 15%;
                        margin-top: -26px;
                        cursor: pointer;
                    }
                    .prev-btn {
                        width: 100%;
                        max-width: 52px;
                        height: 100%;
                        max-height: 52px;
                        position: absolute;
                        z-index: 4;
                        top: 50%;
                        left: 15%;
                        margin-top: -26px;
                        transform: rotate(180deg);
                        cursor: pointer;
                    }
                    .page-btn {
                        opacity: 0;
                        transition: all .2s ease-in-out;
                    }
                    &:hover {
                        .page-btn {
                            opacity: 1;
                        }
                    }
                }
            }
        }
        @media all and (max-width: 780px) {
            #section1 {
                .slide-container {
                    .slide-view {
                        .next-btn {
                            width: 40px;
                            height: 40px;
                            right: 5%;
                            margin-top: -20px;
                            img {
                                width: 40px;
                            }
                        }
                        .prev-btn {
                            width: 40px;
                            height: 40px;
                            left: 5%;
                            margin-top: -20px;
                            img {
                                width: 40px;
                            }
                        }
                    }
                }
            }
        }
        #section2 {
            width: 100%;
            padding-top: 40px;
            .container {
                width: 100%;
                max-width: 1050px;
                margin: 0 auto;
                .title{
                    width: 100%;
                    text-align: center;
                    padding-bottom: 40px;
                    h2{
                        font-size: 28px;
                    }
                }
                .content {
                    width: 100%;
                    .slide-container {
                        width: 100%;
                        position: relative;
                        user-select: none;
                        .slide-view {
                            width: 100%;
                            overflow: hidden;
                            position: relative;
                            .slide-wrap {
                                width: calc(100% * 5);
                                display: flex;
                                position: relative;
                                .slide {
                                    width: calc(100% / 12);
                                    position: relative;
                                    margin: 0 6px;
                                    .img {
                                        width: 100%;
                                        position: relative;
                                        pointer-events: none;
                                    }
                                    .cart {
                                        width: 45px;
                                        position: absolute;
                                        bottom: 5%;
                                        right: 8%;
                                    }
                                }
                            }

                        }
                        .next-btn {
                            width: 60px;
                            position: absolute;
                            top: 50%;
                            right: -2.25%;
                            margin-top: -30px;
                            transform: rotate(180deg);
                            cursor: pointer;
                            transition: all .3s;
                        }
                        .prev-btn {
                            width: 60px;
                            position: absolute;
                            top: 50%;
                            left: -2.25%;
                            margin-top: -30px;
                            cursor: pointer;
                            transition: all .3s;
                            display: none;
                        }
                    }
                    @media all and (max-width: 1150px) {
                        .slide-container {
                            .next-btn {
                                width: 60px;
                                position: absolute;
                                top: 50%;
                                right: 1%;
                                margin-top: -30px;
                            }
                            .prev-btn {
                                width: 60px;
                                position: absolute;
                                top: 50%;
                                left: 1%;
                                margin-top: -30px;
                            }
                        }
                    }
                }
            }
        }
        #section3 {
            width: 100%;
            height: 1800px;
        }
    }
}